/* 
==========================================================================
Globals
==========================================================================
*/
@import "browserSupport";

*{
  margin: 0;
  padding: 0;
  @include box-sizing-border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  background: $mainbackground;
  background-size: 60%;
}

.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
  padding: 0;
  @include overflow-hidden;
}
